{% extends 'layout.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <div class="content-flux">
    <div class="left">
      <h2 class="side-title">Edit Post</h2>
    </div>
    <div class="content-slim">
    <form action="/post/{{post._id.toString()}}" method="post">
      <p><input type="text" class="input" name="title" value="{{post.title}}"></p>
      <p><textarea name="body" class="textarea">{{post.body}}</textarea></p>
      <p><input type="submit" value="Save" class="button"></p>
    </form>
    </div>
  </div>
{% endblock %}